<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.cantaur.adminlte.model"/>
<!--        <package name="com.cantaur.adminlte.model.board"/>-->
<!--        <package name="com.eveningbread.demo.trg.model"/>-->
<!--        <package name="com.eveningbread.demo.source.model.resp"/>-->
    </typeAliases>
</configuration>